@charset "UTF-8";
<style>
	.ul1 {
   
      margin-left: auto;
      margin-right: auto;
      vertical-align: bottom;
      
   }
   .li1 {
      padding: 0px 30px;
      font-size: 30px;
   }
   
   .content {
      text-align: center;
      padding: 10px;
      min-height: calc(100vh - 20px);
      <!--background-color: skyblue;-->
   }
   body {
      width: auto;
      margin: 200px;      
   }
   
   .footer {
      background-color: white;
      text-align: center;
      padding: 10px;
      margin: 100px;
      height: 20px; 
      
   }
   #inputposition {
      position: relative;
      left: 215px;
   }
   .jumbotron {
   	padding: 10px;
   	margin: 0px;
   }
   .wid {
	position:fixed; top:75px; left: 700px;
	margin-left: auto;
    margin-right: auto;
	font-size: 20px;
   }
   .ul2 {
    
   		background-color: white;
   }
   
   .mansurveyForm {
		width: 1200px;
		margin: 0 auto;
	}

	fieldset{

    border: 5px dotted #ADBED2 !important;
    padding: 0 1.4em 1.4em 2em !important;
    
    -webkit-box-shadow:  0px 0px 0px 0px #12406A;
            box-shadow:  0px 0px 0px 0px #12406A;
    min-width: 1000px;
    max-width: 1000px;    
    margin: 0px auto;
	margin-bottom: 50px;

	background-color: #eff5fb;
	}
   legend {
    width: inherit; /* Or auto */
    padding:10px 20px; /* To give a bit of padding on the left and right */
    border-bottom:none;
    font-family : Rix교차로;
    font-size: 2.5em;
    color: #12406A;
    background-color: white;
    border-style: solid dotted solid dotted;
    border-color: #12406A #ADBED2;
    border-width: 2px 5px;
	}
	table tr td {
		padding: 10px 0;
		width: 200px;
		font-family: Rix도쿄감성;
		font-size: 1.5em;
	}
	.buttons {
		text-align: right;
		width: 1100px;
	}
	.buttons input {
		width: 100px;
		height: 50px;
	}
	.labelwidth {
		width: 200px;
		font-family: Rix광안리;
		font-weight: 600;
		font-size: 1.5em;
	}
	#resetButton {
  		background-color: #C7C5B8;
  		width: 150px;	height: 50px;
  		border: none;
  		color: white;
  		padding: 10px;
  		text-align: center;
  		font-size: 1.5em;
  		font-family:Rix광안리;
  		font-weight: 600;
  		margin: 4px 2px;
  		opacity: 1;
  		transition: 0.3s;
  		display: inline-block;
  		text-decoration: none;
  		cursor: pointer;
	}

	#submitButton {
  		background-color: #FF6745;
  		width: 150px;	height: 50px;
  		border: none;
  		color: white;
  		padding: 10px;
  		text-align: center;
  		font-size: 1.5em;
  		font-family: Rix광안리;
  		font-weight: 600;
  		margin: 4px 2px;
 		opacity: 1;
  		transition: 0.3s;
  		display: inline-block;
  		text-decoration: none;
  		cursor: pointer;
	}

	#submitButton:hover, #resetButton:hover {
		color:black;
	}
</style>